.Main_Header
{
    display: flex;
    position: relative;
    top: 100px;
    width: 100%;
    background-color: #00c3ff;
    gap: 45.5%;
}
.Main_Header button
{
    width: 100%;
    background-color: rgb(117, 117, 117);
    color: snow;
    border: 0px;
    
}
.Timer_body
{
    display:flex ;
    position: relative;
    top: 300px;
    
    gap: 5%;
    width: 100%;
}
.Timer_body section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-image: linear-gradient(#00c3ff, #00607e, #022f3d);
    border-radius: 10px;
    height: 600px;
}
.Timer_body section button
{
    height: 100px;
    width: 95%;
    margin-left: 15px;
    background-color: #037ca1;
    color: snow;
}
input
{
    position: relative;
    left: 9%;
    width: 80%;
    height: 300px;
    font-size: 100px;
    text-align: center;
    background-color: #00607e;
    color: snow;
}
.Timer_body section button:hover, .Timer_body section input:hover
{
    background-image: linear-gradient(#022f3d, #046c8b, #022f3d);
    box-shadow: 10px 10px 100px black;
}
::-webkit-inner-spin-button
{
    height: 500px;
    background-color: brown;
}
@media (max-width:1630px) {
    .Main_Header
    {
        width: 95%;
        position: relative;
        left: 2%;
    }
}

@media (max-width:1399px) {
    .Main_Header
    {
        width: 90%;
        position: relative;
        left: 2%;
    
    }
}
@media (max-width:1063px) {
    .Main_Header
    {
        width: 85%;
        position: relative;
        left: 2%;
    }
    .Timer_body
    {
        display: flex;
        flex-direction: column;
        gap: 1%;
    }
    .Timer_body button
    {
        margin-top: 15px;
        position: relative;
        left: 1.5%;
    }
}
@media (max-width:821px)
{
    .Main_Header
    {
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 5%;
    }
    .Main_Header button
    {
        height: 50px;
    }
}
@media (max-width:467px)
{
    .Timer_body button
    {
        position: relative;
        left: 0.5%;
    }
}