.Main_Main
{
    height: 2900px;
}
.Main_Other_Main
{
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 53% 45%;
    grid-template-rows: 35% 20%;
    gap: 5%;
    
}
.main_Sections:first-of-type
{
    position: relative;
    top: 10px;
}
.main_Sections:hover,.The_qna__main_Sections:hover
{
     box-shadow: 10px 10px 100px rgb(0, 0, 0) ;
     background-image: linear-gradient(#2a964a, #19b803,#44e976);
}
.Qna
{
    position: relative;
    left: 2%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 31% 43% 31%;
    gap: 5%;
    
}
.Qna a
{
    color: rgb(9, 5, 255);
}
.Qna a:hover
{
    color: rgb(138, 4, 4);
    text-shadow: 5px 5px 5px black;
}

ol li
{
    list-style-type:lower-roman;
}
ol
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}
.The_qna__main_Sections
{
    width: 95%;
    background-image: linear-gradient(#44e976, #19b803,#44e976);
    position: relative;
    left: 3%;
    height: 500px;
    border-radius: 10px;
    color: black;
}
.main_Sections
{
    background-image: linear-gradient(#44e976, #19b803,#44e976);
    height: max-content;
    position: relative;
    left: 1%;
    border-radius: 10px;
    width: 90%;
    color: black;
}
ul
{
    text-align: center;
    align-items: center;
}
.Html,.Css,.js,.py
{
    
    height: 30px;
    color: black;
    border-radius: 1000px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 2%;

}
.Html
{
    width: 100%;
    background-color: orange;
}
.Css
{
    background-color: aqua;
}
.js
{
 background-color: rgb(51, 71, 11);
}
.py
{

    background-color: green;
}
@media (max-width:1493px) {
    
    .Long_Items
    {
        height: 700px;
    }
}
@media (max-width:967px) {
    .Main_Main
    {
        height: 3500px;
        margin-bottom: 450px;
    }
    .Qna
    {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0%;
        overflow-y: scroll;
        height: 1500px;
    }
    .The_qna__main_Sections
    {
        margin-top: 10px;
    }
    .Main_Other_Main
    {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 3%;
    }
}