body
{
    background-image: linear-gradient(0deg, #1e1e7c,#131355,#101046)  ;
    height: 950px;
    color: snow;
}
form
{
    background-image: linear-gradient( #1313a0,#050563,#101046)  ;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 100px black;
    position: relative;
    left: 25%;
    top: 140px;
    height: 500px;
}
input
{
    height: 50px;
    width: 95%;
    border-radius: 10px;
    background-color: #1c1c80;
    border: none;
    color: snow;
    text-align: center;
}
.Main_buttons 
{
    position: relative;
    top: 30px;
    left: 21%;
    
    display: flex;
    gap: 5%;
    text-align: center;
    height: 100px;
    width: 56%;
}
.Main_buttons input
{
    position: relative;
    top: 20px;
    width: 30%;
    margin-left: 20px;
}
.Main_buttons button
{
    position: relative;
    top: 20px;
    height: 50px;
    border-radius: 10px;
    background-color: #1c1c80;
    border: none;
    color: snow;
    
}