.Uder_main_Header
{
    display: flex;
    position: relative;
    top: 55px;
    text-align: center;
    align-items: baseline;
    background-color: rgb(150, 6, 6);
    z-index: 0;
    justify-content: center;
    display: flex;
    gap: 5%;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Uder_main_Header button, .Uder_main_Header input
{
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    border: none;
    height: 50px;
    background-color: rgb(5, 44, 88);
    color: snow;
    position: relative;
    top: 20px;
    width: 20%;
    font-size: large;

}
.Uder_main_Header button:hover, .Uder_main_Header input:hover
{
    background-color: rgb(7, 25, 73);
    box-shadow: 5px 5px 10px black;
}
.The_Update_Bit
{
    position: relative;
    top: 60px;
    text-align: center;
    justify-self: center;
    display: flex;
    gap: 35%;
    background-color: #0c0c0c;
    background-image: linear-gradient(#2b2929, #0c0c0c,#050505);
    width: 99%;
    left: 0.5%;
    border-radius: 10px;
    height: 200px;
}
.The_Update_Bit:hover
{
    box-shadow:10px 10px 100px black ;
    background-image: linear-gradient(#665e5e, #050505);
}
.The_dates,.Number
{

    background-image: linear-gradient(#252525, #363131,#222020);
}

.The_dates
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.The_dates p:first-of-type
{
    margin-top: 5px;
}
.The_dates p
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.Update_Holder
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    top: 90px;
    overflow-y: scroll;
    height: 1700px;
    
}
.Update_Holder a
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.h2_Update h2
{
    margin-bottom: 0px;
}
.Number
{
    
    width: 10%;
    height: 200px;
    position: relative;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
@media (max-width:1334px) {
    
    
}